.rowStyles {
    max-width: 1200px;

}

.gameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
 color: white;
 background-color: black;
}

.wrapper {
    background-color: darkorange;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
}